/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    font-family:Arial, Helvetica, sans-serif;
    --error-color:rgba(254, 64, 64, 0.998);
}

body, .image-container, .logo-container, .form-container,
form, .form, .form-row, .container{
    display:flex;
}

em  {
    font-style: italic;
}
.form-container>.paragraph .p2 {
    margin-top: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(245, 245, 245);  
}

.image-container {
    min-width: max(30vw,350px); /*thinking how to make it resize until breaking point*/
    background-image: url(images/background-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: max(40vh,1025px);
    justify-content: center;
    align-items: end;

}

.logo-container {
    color: white;
    font-family: 'Norse Bold';
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: max(30vw,350px);
    min-height: 175px;
    position:absolute;
    top: 18rem;
    justify-content: center;
    align-items: center;

}
img { 
    height: 150px;
}
.form-container {
    flex-direction: column;
    align-items: center;
    min-width:max(70vw,0px);/*thinking how to make it resize until breaking point*/
}

.form-container>.paragraph p{
    font-size: 1.5rem;
    font-weight: 650;
    max-width: min(750px,55vw);
    padding: 20px 20px 20px 0;
    margin-top:200px;
    margin-left: 35px;
}

a,.image-container p {
    color: white;
    margin-bottom: 20px;
}

form{ 
    flex-direction: column;
}

legend {
   margin-bottom: 30px;
    font-size: 2rem;
}

.container {
    align-items: center;
    padding: 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    flex-direction: column;
    
}

.form-row {
    margin-bottom: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 20vw;
    font-size:0.78rem;
    font-weight: 600;
    color: rgb(85, 85, 85);
}
.form {
    
    justify-content: center;
    flex-direction: column;
}
.form-col-1 {
    display: flex;
    gap: 100px;
}
input {
    border: solid #E5E7EB;
    border-radius: 4px;
    max-width: 22vw;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
}

input:focus {
    
    outline: none;
    border:solid 1px rgb(0, 128, 255);
    box-shadow:4px 4px 1px rgba(0, 0, 0, 0.1);
}

button[type='submit'] {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(245, 245, 245);
    background-color: #596D48;
    border-radius: 8px;
}
button[type='submit']:hover {
    background-color: #404f33;
}

.error,.error:focus {
    border:solid 1px var(--error-color);
}
.error-text{
    color: var(--error-color);
}

#Log-in {
    color:  #596D48;
    font-weight: 600;
    text-decoration: none;
}

@media all and (max-width:670px)  {
    body {
        justify-content: center;
        align-items: center;
    }

    fieldset, .container, body {
        align-self: center;
    }

    .image-container {
        display: none;
    }
    .form-container>.paragraph p{
        font-size: 1rem;
        text-align: center;
        margin-top: 0px;
    }
    .form-container{
        width: 100vw;
        background-image: url(images/background-image.avif);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    input {
        max-width: 200px;
    }
    .form {
        flex-direction: column;
    }
    .form-col-1 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    p{
        color: white;
    }
}
@media all and (max-height:989px) {
    .paragraph{
        display: none;
    }
    form {
        overflow: scroll;
    }
    .container {
        max-height: 70vh;
        overflow: scroll;
    }
}
